body {
    font-family: cursive;
    background-color: #f4f4f4;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 90px;
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.Imagens-textos{
    filter: grayscale(1);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.Imagens-textos img {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imgVal{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: grayscale(1);
}

a:hover{
    text-decoration: underline;
}

* {
    text-decoration: none;
}
.imgrapha {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: grayscale(1);
    
}

.imgJP {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: grayscale(1);
}

.imgSam {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    filter: grayscale(1);
}

.tudo-conteudo {
    align-items: center;
    text-align: center;  
    padding: 6px;
  
}

.JPConteudo {
    padding: 70px;
    padding-bottom: px;
    margin: 70px;
    overflow: hidden;
    background-color: white;
    margin-right: 150px;
}

.imgJP2 {
    border-radius: 50%;
    width: 215px;
    height: 215px;
    filter: grayscale(1);
}

.JPConteudo img {
    float: left;
    margin-right: 50px;
}

.JPConteudo h3 {
    display: block;
    padding-top: 50px;
    margin-bottom: 1px;
}

.github {
    width: 25px;
    height: 25px;
}

.Imagens-textos div *{
    text-align: center;
}

.logo2{
    text-align: center;
}
