body {
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    font-family: cursive;
    background-color: #022f25; /*#017c61 - verde mais claro*/
    margin-top: -8px;
    flex-direction: column;
}


.criacaodeconta {
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px; 
    background-color: white;  
    box-shadow: 8px 5px 5px 1px ;
    margin: 5px; /*107px ele fica no max em cima */
}
h3 {
    margin: 20px;  
}

button {
    padding: 10px 20px;
    border: 3px solid;
    background-color:  black;
    border-color: black;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

button:hover{
    background-color:rgb(44, 44, 44);
    border-color: rgb(44, 44, 44)
}

button a {
    text-decoration: none;
    color: #f4f4f4;
}

input  {
    border-radius: 3px;
    background-color: transparent;
    padding: 10px 35px;
    font-size: 14px;
    padding-right: 130px;
    border-top: none ;
    border-right: none;
    border-left: none;
}

font a {   
    text-decoration: none;
    color: black;
}

input:hover{
    background-color: rgb(211, 211, 211);

}

#login{
    margin-right: 5px;
}

h6 {
    margin-bottom: -43px;
    margin-top: 10px;
}

#laele a:hover{
    text-decoration: underline;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}