body {
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 30px;
    font-family: cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

div.criacaodeconta {
    border: 4px solid black;
    padding: 15px;
    border-radius: 10px; 
    background-color: white;  
    box-shadow: 8px 5px 5px 1px ;
}

h3 {
    margin: 20px;
    
}

button {
    padding: 10px 20px;
    border: 2px solid;
    background-color: black;
    cursor: pointer;
    border-radius: 15px;
}

button:hover{
    background-color:#474848;
}

button a {
    text-decoration: none;
    color: #f4f4f4;
}

input  {
    border-radius: 15px;
    background-color: transparent;
    padding: 10px 35px;
    font-size: 14px;
    text-align: start;
}

font a {   
    text-decoration: none;
    color: black;
}

input:hover{
    background-color: rgb(211, 211, 211);
}

#login{
    margin-right: 5px;
}